


<div>
	<footer class="footer">
		<p>关于本站 | 网站招聘 | 联系我们 | 广告服务 | 网站地图 | 新浪微博 </p>
		<p>Copyright©2015-2016 caifuup.com All rights reserved. 财富之家 版权所有</p> 
	</footer>
</div>

<!--placed in footer to speed up loading-->
<script src="/js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>

<script type="text/javascript" src="/js/baidu_stat.js"></script>

<script type="text/javascript" src="/js/hashMap.js"></script>
<script>
	$(function() {
     var pgurl = window.location.href.substr(window.location.href
.lastIndexOf("/")+1);
     $("#nav div ul li a").each(function(){
          if($(this).attr("href") == pgurl || $(this).attr("href") == '' )
          $(this).parent().addClass("active");
     })
});
</script>