<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/about"></span> About</a>
      </li>
      <li class = "active">
        <a href="/news"></span> News</a>
      </li>
      
	  
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
			Search box:<br>
			<input type="text" id="userInputStockId">
			<input type="button" value="Submit" onclick = "navigateToStockById()">
      </li>
    </ul>
  </div>
</nav>
