<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li class = "active">
        <a href="/screen">Screen</a>
      </li>
      <li>
        <a href="/articles">Articles</a>
      </li>
	  
    </ul>
  
  </div>
</nav>
