<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://financehome.herokuapp.com/"></span> News</a>
      </li>
      <li>
        <a href="https://financehome.herokuapp.com/"></span> Articles</a>
      </li>
      
	  
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
       <a href="https://financehome.herokuapp.com/"></span> Search box</a>
      </li>
    </ul>
  </div>
</nav>
