body{
  background-color: #DBD7D2;
}

.fl{
  float: left;
}
.fr{
  float: right;
}
/*nav*/
.jumbotron {
  background: black;
  color: white;
  padding-top: 100px;
  padding-bottom: 30px; 
 }
 
 .item{
  height:520px;
 }

 #bg{
  background:url('../background.jpg') no-repeat center center;
    height: 225px;
}
 
  #bg p {
    color: black;
    max-width: 75%;
}

  #bg h2 {
    color: black;
}

  .navbar + .jumbotron {
    margin-top: 0px; }
}

.footer{
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 60px;/*脚部的高度*/
 background: #6cf;
 clear:both;
}
/*index*/
#size-slider{
  margin: 10px;   
}





