body{
  background-color: #91a3b0;
}
/*nav*/
.jumbotron {
  background: black;
  color: white;
  padding-top: 100px;
  padding-bottom: 30px; 
 }
 
 .item{
  height:520px;
 }

 #bg{
  background:url('../background.jpg') no-repeat center center;
    height: 225px;
}
 
  #bg p {
    color: black;
    max-width: 75%;
}

  #bg h2 {
    color: black;
}

  .navbar + .jumbotron {
    margin-top: 0px; }
}

/*index*/
#size-slider{
  margin: 10px;   
}





