/*table*/
table {
    padding: 0;
    margin: 0;
    border: 0;
    border-collapse: collapse;
    }

    td {
  white-space:nowrap;
  width:20px;
    padding: 0 5px 0 0;
    margin: 0;
    border: 0;
    }
    td.last {
    padding: 0;
    margin: 0;
    border: 0;
    }

 #mytable{
  margin-left:0;
  margin-right:100px;
}
  
#myfilters{
  margin-right:0;
  background-color: #F7E7CE;
}

#myfilters ul{
  
  color:blue;
}

#myfilters .filter-type{
  font-weight:bold;
  color:black;
}


.roundedCorners {
  border: #000 1px solid;
  padding: 2px 8px;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

#mytable{
  margin-top: 50px;
}