
#current-filter{
  margin-bottom: 200px;
}  

#myfilters .filter-type{
  font-weight:bold;
  color:black;
}


.roundedCorners {
  border: #000 1px solid;
  padding: 2px 8px;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

/*slider*/
.slider-val{

border:0; 
margin-bottom: 10px;
color:black; 
font-weight:bold;
background-color: #DBD7D2;

}

/*table*/
table {
    padding: 0;
    margin: 0;
    border: 0;
    border-collapse: collapse;
    }

    td {
  white-space:nowrap;
  width:20px;
    padding: 0 5px 0 0;
    margin: 0;
    border: 0;
    }
    td.last {
    padding: 0;
    margin: 0;
    border: 0;
    }

 #mytable{

  margin-top: 50px;
}