.jumbotron {
  background: black;
  color: white;
  padding-bottom: 30px; }
  .jumbotron p {
    color: white;
    max-width: 75%;
}
  .navbar + .jumbotron {
    margin-top: -20px; }

table {
    padding: 0;
    margin: 0;
    border: 0;
    border-collapse: collapse;
    }

    td {
	white-space:nowrap;
	width:20px;
    padding: 0 5px 0 0;
    margin: 0;
    border: 0;
    }
    td.last {
    padding: 0;
    margin: 0;
    border: 0;
    }