<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav-articles.ejs %>

<div id= "left-col" class="col-md-2">
  
</div>  

<div class="jumbotron text-left col-md-8" id= "bg">
  <div class="container">
    <h2>财富之家</h2>
    <p>这是一个webpage</p>
   
  </div>
</div>
<div class="container">
  
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h3> Article </h3>
      <ul>
        <ul> lol  </ul>
      </ul>
    </div>
   
  </div> <!-- row -->
 
</div>


<div id= "right-col" class="col-md-2">
  
</div>  

</body>
</html>
