<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	
	
</head>

<body>

<% include ../partials/nav.ejs %>
	
	
	
<div class="jumbotron text-left" id= "bg">
  <div class="container">
    <h2 style="color:black">财富之家</h1>
    <p style="color:black">Error Page</p>
   
  </div>
</div>



</body>
</html>
