<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	
	
</head>

<body>

<% include ../partials/nav.ejs %>
	
	
	
<div class="jumbotron text-left">
  <div class="container">
    <h2>财富之家</h1>
    <p>Error Page</p>
   
  </div>
</div>



</body>
</html>
