<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<% include ../partials/header.ejs %>
	
	
</head>

<body>

<% include ../partials/nav.ejs %>


<div class="jumbotron text-left" id = "bg">
  
  <div class="container" style="margin-bottom: 50px;">
  	
    <h2>财富之家</h1>
    <p>这是一个webpage</p>
   
  </div>
 
</div>  

<div id="maindisplay" class="container">

<div  class="row">
<div class="col-md-2" id= "left-col">
    
</div>  
<div class="col-md-10" id="slider">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item">
            <img alt="" src="http://pic1.win4000.com/wallpaper/7/511f2a586c263.jpg">
            <div class="carousel-caption">
                <h4>标题1</h4>
                <p> lalalalala </p>
            </div>
        </div>
        <div class="item">
            <img alt="" src="http://f004.bai.com/data/uploads/2013/0315/10/1363314292740038.jpg">
            <div class="carousel-caption">
                <h4>标题2</h4>
                <p>Bootstrap Studio is a multipurpose website. It's invitation only at the moment. It may become users can invite other members but for now this is how it is.  </p>
            </div>
        </div>
        <div class="item active">
            <img alt="" src="http://image.tianjimedia.com/uploadImages/2012/242/BP418WFX955S.jpg">
            <div class="carousel-caption">
                <h4>标题3</h4>
                <p> 这是一个广告</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" data-slide="prev" href="#myCarousel">‹</a>
    <a class="right carousel-control" data-slide="next" href="#myCarousel">›</a>
</div>
</div>

<div id= "right-col" class="col-md-2">
    
</div>

</div>
</div><!--main display-->



</body>
</html>
