<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<% include ../partials/header-screen.ejs %>
	
</head>

<body>

  <% include ../partials/nav-screen.ejs %>


<div class="jumbotron text-left" id = "bg">
  <div class="container">
    <h2>财富之家</h2>
    <p>这是一个webpage</p>
   
  </div>
</div>

<div class="container">
  

<div id="main-display"  class="col-md-10">
<div class="row">
<div id="myfilters" class="col-md-8">
      <p id="current-filter">全部条目 &gt;</p>
	  <div class="filter-box">	
      <ul>
		<li class= "filter-type">策略类型：</li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">不限</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">混合策略</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">价值策略</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">量化策略</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">程序化策略</a></li>
      </ul>
	  </div>

	  <div class="filter-box">
	  <ul>
		<li class= "filter-type">资产类别：</li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">不限</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">混合</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">股票</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">债券</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">期权</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">宏观</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">大宗商品</a></li>
      </ul>
	  </div>

	  <div class="filter-box">
	  <ul>
		<li class= "filter-type">投资区域：</li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">不限</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">全球</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">北美</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">拉美</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">欧洲</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">中东</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">非洲</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">亚太</a></li>
      </ul>                                                         
	  </div>

	  <div class="filter-box">
	  <ul>
		<li class= "filter-type">行业倾向：</li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">不限</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">混合</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">TMT</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">消费</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">工业</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">能源资源</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">金融</a></li>
		<li><a href="#" class="btn btn-default btn-doc" target="_blank">生物医疗</a></li>
      </ul>    
	  </div>

</div> <!-- filters -->


	
	<div id="sliders">
		<div class="my-slider col-md-2">
			<div  title="移动滑块筛选">
				<p> 资产规模（亿USD）：</p>
				<input type="text" id="size-val"  class="slider-val">
			</div>
 
			<div id="size-slider" title="移动滑块筛选"></div>
		</div>
		
		<div class="my-slider col-md-2">
			<div title="移动滑块筛选">
				<p> 运营时间（年）：</p>
				<input type="text" id="since-val" class="slider-val">
			</div>
 
			<div id="since-slider" title="移动滑块筛选"></div>
		</div>
		
	</div> <!--slider-->
	
	<div id="mytable"  class="col-md-12"> 
		<table id="mainTable" class="table tablesorter table-bordered table-responsive"> 
		<thead>
			<tr  class="tablesorter-headerRow">
				
				<th class="tablesorter-header" title="单击排序当前列"><div class="tablesorter-header-inner header0"> Name <i class="tablesorter-icon"></i></div></th>
				<th class="tablesorter-header" title="单击排序当前列"><div class="tablesorter-header-inner header1"> Founder <i class="tablesorter-icon"></i></div></th>
				<th class="tablesorter-header" title="单击排序当前列"><div class="tablesorter-header-inner header2"> Size <i class="tablesorter-icon"></i></div></th>
				<th class="tablesorter-header" title="单击排序当前列"><div class="tablesorter-header-inner header3"> Since <i class="tablesorter-icon"></i></div></th>
				<th class="tablesorter-header" title="单击排序当前列"><div class="tablesorter-header-inner header4"> Quarter <i class="tablesorter-icon"></i></div></th>
				<th class="tablesorter-header" title="单击排序当前列"><div class="tablesorter-header-inner header5"> 1 Year <i class="tablesorter-icon"></i></div></th>	
				<th class="tablesorter-header" title="单击排序当前列"><div class="tablesorter-header-inner header6"> 3 Year  <i class="tablesorter-icon"></i></div></th>
				<th class="tablesorter-header" title="单击排序当前列"><div class="tablesorter-header-inner header7"> Annual Return <i class="tablesorter-icon"></i></div></th>	
				<th class="tablesorter-header" title="单击排序当前列"><div class="tablesorter-header-inner header8"> Total <i class="tablesorter-icon"></i></div></th>	
			
			</tr>
		</thead>
		
		<tbody>
			<tr><td>TYRUS CAPITAL S.A.M.</td><td>Bob</td><td>123</td><td>5</td><td>75</td><td>80</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>TWIN CAPITAL MANAGEMENT INC</td><td>Mike</td><td>1214</td><td>10</td><td>100</td><td>90</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>MATRIX CAPITAL MANAGEMENT</td><td>Max</td><td>85</td><td>3</td><td>80</td><td>85</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>SANDLER O'NEILL ASSET MGMT LLC</td><td>David</td><td>234</td><td>7</td><td>100</td><td>100</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>ETON PARK CAPITAL MANAGEMENT</td><td>Rob</td><td>12456</td><td>6</td><td>95</td><td>80</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>TYRUS CAPITAL S.A.M.</td><td>Bob</td><td>123</td><td>5</td><td>75</td><td>80</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>TWIN CAPITAL MANAGEMENT INC</td><td>Mike</td><td>1214</td><td>10</td><td>100</td><td>90</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>MATRIX CAPITAL MANAGEMENT</td><td>Max</td><td>85</td><td>3</td><td>80</td><td>85</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>SANDLER O'NEILL ASSET MGMT LLC</td><td>David</td><td>234</td><td>7</td><td>100</td><td>100</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>ETON PARK CAPITAL MANAGEMENT</td><td>Rob</td><td>12456</td><td>6</td><td>95</td><td>80</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>TYRUS CAPITAL S.A.M.</td><td>Bob</td><td>123</td><td>5</td><td>75</td><td>80</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>TWIN CAPITAL MANAGEMENT INC</td><td>Mike</td><td>1214</td><td>10</td><td>100</td><td>90</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>MATRIX CAPITAL MANAGEMENT</td><td>Max</td><td>85</td><td>3</td><td>80</td><td>85</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>SANDLER O'NEILL ASSET MGMT LLC</td><td>David</td><td>234</td><td>7</td><td>100</td><td>100</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>ETON PARK CAPITAL MANAGEMENT</td><td>Rob</td><td>12456</td><td>6</td><td>95</td><td>80</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>TYRUS CAPITAL S.A.M.</td><td>Bob</td><td>123</td><td>5</td><td>75</td><td>80</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>TWIN CAPITAL MANAGEMENT INC</td><td>Mike</td><td>1214</td><td>10</td><td>100</td><td>90</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>MATRIX CAPITAL MANAGEMENT</td><td>Max</td><td>85</td><td>3</td><td>80</td><td>85</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>SANDLER O'NEILL ASSET MGMT LLC</td><td>David</td><td>234</td><td>7</td><td>100</td><td>100</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>ETON PARK CAPITAL MANAGEMENT</td><td>Rob</td><td>12456</td><td>6</td><td>95</td><td>80</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>TYRUS CAPITAL S.A.M.</td><td>Bob</td><td>123</td><td>5</td><td>75</td><td>80</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>TWIN CAPITAL MANAGEMENT INC</td><td>Mike</td><td>1214</td><td>10</td><td>100</td><td>90</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>MATRIX CAPITAL MANAGEMENT</td><td>Max</td><td>85</td><td>3</td><td>80</td><td>85</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>SANDLER O'NEILL ASSET MGMT LLC</td><td>David</td><td>234</td><td>7</td><td>100</td><td>100</td><td>80</td><td>80</td><td>80</td></tr>
			<tr><td>ETON PARK CAPITAL MANAGEMENT</td><td>Rob</td><td>12456</td><td>6</td><td>95</td><td>80</td><td>80</td><td>80</td><td>80</td></tr>
		</tbody>

		
		</table>
		
		<div id="pager" class="pager">
		<form>
			<img src="first.png" alt="#" class="first"/>
			<img src="prev.png" alt="#" class="prev"/>
			<span class="pagedisplay"></span>
			<img src="next.png" alt="#" class="next"/>
			<img src="last.png" alt="#" class="last"/>
			<select class="pagesize">
			<option selected = "selected" value="10">10</option>
			<option value="20">20</option>
			<option value="50">50</option>
			<option value="all">All</option>
			</select>
		</form>
		</div>
	</div>  <!--my table-->
<div class="col-md-10">
<% funds.forEach(function (fund, index) { %>
        
        <p class="fund"><%= fund.id %></p>
      
    <% }) %>
</div>
</div>  <!--main display-->
</div>	<!--row-->
</div>  <!-- container -->

 <% include ../partials/footer.ejs %>

 <% include ../partials/screen-footer.ejs %>
</body>
</html>
