<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<% include ../partials/header-screen.ejs %>
	
</head>

<body>

  <% include ../partials/nav-screen.ejs %>


<div class="jumbotron text-left" id = "bg">
  <div class="container">
    <h2>财富之家</h2>
    <p>这是一个webpage</p>
   
  </div>
</div>

<div class="container">
  

<div class="row">
<div id="myfilters"  class="col-md-2">
      <p id="current-filter">全部条目 &gt;</p>

      <dl>
		<dt class= "filter-type">策略类型：</dt>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">不限</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">混合策略</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">价值策略</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">量化策略</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">程序化策略</a></dd>
      </dl>
	  
	  <dl>
		<dt class= "filter-type">资产类别：</dt>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">不限</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">混合</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">股票</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">债券</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">期权</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">宏观</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">大宗商品</a></dd>
      </dl>
	  
	  <dl>
		<dt class= "filter-type">投资区域：</dt>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">不限</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">全球</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">北美</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">拉美</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">欧洲</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">中东</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">非洲</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">亚太</a></dd>
      </dl>                                                         
	  
	  <dl>
		<dt class= "filter-type">行业倾向：</dt>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">不限</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">混合</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">TMT</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">消费</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">工业</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">能源资源</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">金融</a></dd>
		<dd><a href="#" class="btn btn-default btn-doc" target="_blank">生物医疗</a></dd>
      </dl>    
	  
</div> <!-- filters -->


<div id="main-display"  class="col-md-10">
	
	<div id="sliders"  class="row">
		<div class="my-slider col-md-2">
			<div  title="移动滑块筛选">
				<p> 资产规模</p>
				<p>（亿USD）：</p>
				<input type="text" id="size-val"  class="slider-val">
			</div>
 
			<div id="size-slider" title="移动滑块筛选"></div>
		</div>
		
		<div class="my-slider col-md-2">
			<div title="移动滑块筛选">
				<p> 运营时间</p>
				<p>（年）：</p>
				<input type="text" id="since-val" class="slider-val">
			</div>
 
			<div id="since-slider" title="移动滑块筛选"></div>
		</div>
		
	</div> <!--slider-->
	<!--
	<div id="mytable"  class="col-md-12"> 
		<table id="mainTable" class="table tablesorter table-bordered table-responsive"> 
		<thead>
			<tr  class="tablesorter-headerRow">
				
				<th class="tablesorter-header" title="单击排序当前列"><div class="tablesorter-header-inner roundedCorners header0"> Name <i class="tablesorter-icon"></i></div></th>
				<th class="tablesorter-header" title="单击排序当前列"><div class="tablesorter-header-inner roundedCorners header1"> Founder <i class="tablesorter-icon"></i></div></th>
				<th class="tablesorter-header" title="单击排序当前列"><div class="tablesorter-header-inner roundedCorners header2"> Size <i class="tablesorter-icon"></i></div></th>
				<th class="tablesorter-header" title="单击排序当前列"><div class="tablesorter-header-inner roundedCorners header3"> Since <i class="tablesorter-icon"></i></div></th>
				<th class="tablesorter-header" title="单击排序当前列"><div class="tablesorter-header-inner roundedCorners header4"> Quarter <i class="tablesorter-icon"></i></div></th>
				<th class="tablesorter-header" title="单击排序当前列"><div class="tablesorter-header-inner roundedCorners header5"> 1 Year <i class="tablesorter-icon"></i></div></th>	
				<th class="tablesorter-header" title="单击排序当前列"><div class="tablesorter-header-inner roundedCorners header6"> 3 Year  <i class="tablesorter-icon"></i></div></th>
				<th class="tablesorter-header" title="单击排序当前列"><div class="tablesorter-header-inner roundedCorners header7"> Annual Return <i class="tablesorter-icon"></i></div></th>	
				<th class="tablesorter-header" title="单击排序当前列"><div class="tablesorter-header-inner roundedCorners header8"> Total <i class="tablesorter-icon"></i></div></th>	
			
			</tr>
		</thead>
		
		<tbody>
   			<tr>
 
   				<td>2</td>
   				<td>3</td>
   				<td>4</td>
   				<td>5</td>
   				<td>6</td>
   				<td>7</td>
   				<td>8</td>
   				<td>9</td>
   			</tr>
		</tbody>
		
		</table>
		
		<div id="pager" class="pager">
		<form>
			<img src="first.png" alt="#" class="first"/>
			<img src="prev.png" alt="#" class="prev"/>
			<span class="pagedisplay"></span>
			<img src="next.png" alt="#" class="next"/>
			<img src="last.png" alt="#" class="last"/>
			<select class="pagesize">
			<option selected = "selected" value="10">10</option>
			<option value="20">20</option>
			<option value="50">50</option>
			<option value="all">All</option>
			</select>
		</form>
		</div>
	</div>  <!--my table-->

</div>  <!--main display-->
</div>	<!--row-->
</div>  <!-- container -->

</body>
</html>
