<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav-screen.ejs %>

<div class="jumbotron text-left" id = "bg">
  <div class="container">
    <h2>财富之家</h1>
    <p>这是一个webpage</p>
   
  </div>
</div>
<div class="container">
  
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h3> 这个是 screen 页面 </h3>
      <ul>
        <ul> lalala  </ul>
      </ul>
    </div>
   
  </div> <!-- row -->
 
</div>


</body>
</html>
